{% extends 'header.html' %}
{% block content %}
    <style>
        h2 {
            margin-bottom: 30px;
        }
    </style>
    <h2 align="center" >Описание вашего проекта</h2>
    <form class="form-margin" name="project" method="post" action="#">
        {% csrf_token %}
        <div class="form-group">
            <p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}: </label>{{ form.name }}</p>
        </div>
        <div class="form-group">
            <p><label for="{{ form.platform.id_for_label }}">{{ form.platform.label }}: </label>{{ form.platform }}</p>
            <p>*Android, Web*</p>
        </div>
        <div class="form-group">
            <p><label for="{{ form.terms.id_for_label }}">{{ form.terms.label }}: </label>{{ form.terms }}</p>
        </div>
        <div class="form-group">
            <p><label for="{{ form.price.id_for_label }}">{{ form.price.label }}: </label>{{ form.price }}</p>
        </div>
        <button class="button" type="submit">Отправить</button>
    </form>
{% endblock content %}